{% extends 'base.html.twig' %}


{% block title %}Hello PostController!
{% endblock %}


{% block body %}

	<div class="container">

		<div class="card bg-dark text-light mt-3 p-4">
			<div class="card-body">
				<h2 class='card-title text-center'>{{ post.title }}</h2>
				<p class='card-text text-center'>{{ post.content }}</p>
			</div>
		</div>


	</div>

{% endblock %}
